parameters:
	level: 6
	tmpDir: var/cache_tools/phpstan
	paths:
		- src
		- tests
		- context/clinicManagement/src
		- context/clinicManagement/tests
		- context/frontDesk/src
		- context/frontDesk/tests
		- context/vetClinicPublic/src
		- context/vetClinicPublic/tests

	excludePaths:
		analyseAndScan:
			- service/src/DataFixtures (?)
			- tests/Factory (?)
			- tests/bootstrap.php
			- context/clinicManagement/tests/Support/Factory
			- context/frontDesk/tests/Support/Factory
			- context/vetClinicPublic/tests/Support/Factory
	
	ignoreErrors:
		-
			message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
			paths:
				- context/clinicManagement/src/Infrastructure/Framework/Extension/ClinicManagementExtension.php
		-
			message: '#Method [a-zA-Z0-9\\_]+::loadExtension\(\) has parameter \$config with no value type specified in iterable type array#'
			paths:
				- context/clinicManagement/src/Infrastructure/Framework/Extension/ClinicManagementExtension.php

